<%= form_for(message, remote: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-10">
      <%= form.text_field :content, class: 'input_message form-control' %>
    </div>
    <%= form.hidden_field :user_id, value: user.id %>
    <%= form.hidden_field :room_id, value: room.id %>
    <div class="col-2">
      <%= form.submit "Send", class: 'btn btn-outline-success' %>
    </div>
  </div>
<% end %>
