<div class="message col-12 <%= "me" if message.user_id == current_user.id %>">
  <div class="content_container m-1">
    <small class="text-muted"><%= message.user_id == current_user.id ? '' : message.user.email %></small>
    <div class="content">
      <p class="m-0"><%= message.content %></p>
      <% if message.docs.present? %>
        <% message.docs.each do |doc| %>
          <% if doc.content_type == "image/jpeg" %>
            <%= image_tag "#{doc.url}", class: 'image_display' %>
            <br>
            <%= link_to "#{doc.identifier}", doc.url, class: 'content_url_mine' %>
          <% else %>
            <%= link_to "#{doc.identifier}", doc.url, class: 'content_url_mine' %>
          <% end %>
          <br>
        <% end %>
      <% end %>
    </div>
    <small class="text-muted"><%= time_ago_in_words(message.created_at) %> ago</small>
  </div>
</div>