<div class="message me">
  <div class="content_container">
<!--    <small class="text-muted"><%#= message.user.email %></small>-->
    <div class="content">
      <p class="m-0"><%= message.content %></p>
      <% if message.docs.present? %>
        <% message.docs.each do |doc| %>
          <% if doc.content_type == "image/jpeg" %>
            <%= link_to doc.url, disposition: "inline" do %>
              <%= image_tag "#{doc.url}", class: 'image_display' %>
            <% end %>
            <br>
            <%= link_to "#{doc.identifier}", doc.url, class: 'content_url_mine', download: true %>
          <% else %>
            <%= link_to "#{doc.identifier}", doc.url, class: 'content_url_mine' %>
          <% end %>
          <br>
        <% end %>
      <% end %>
    </div>
    <small class="text-muted float-right"><%= time_ago_in_words(message.created_at) %> ago</small>
  </div>
</div>