<div class="row mt-2">
  <div class="col-2 mt-2 border-right">
    <% if user_signed_in? %>
      <h3>Welcome <%= current_user.email %></h3>
      <input type="hidden" id="user-id" value="<%= current_user.id %>"/>
    <% end %>
    <% @users.each do |user| %>
      <p>
        <%= render 'rooms/form', room: Room.new, user: user %>
      </p>
    <% end %>
  </div>
  <% if @room.present? %>
    <div class="col-10">
      <!--      <p><%#= @room.name %></p>-->
      <div class="chat-room" id="chat-room">
        <% @room.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
          <br>
        <% end %>
      </div>
      <hr>
      <div class="chat-box">
        <%= render 'messages/form', message: Message.new, room: @room, user: current_user %>
      </div>
    </div>
  <% else %>
    <div class="col-10">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured
          content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="users/sign_up" role="button">Sign Up!</a>
      </div>
    </div>
  <% end %>
</div>